---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://readjameswolfe.com/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://readjameswolfe.com/articles/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://readjameswolfe.com/about/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>
{%- for item in collections.articles | reverse %}
  <url>
    <loc>https://readjameswolfe.com{{ item.url }}</loc>
    <lastmod>{{ item.data.date }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
{%- endfor %}
</urlset>
